- var param = path.split('/')[2];
- if (param === 'create') param = null;
ul.nav.well
  li
    a(href='/') Home
  li
    a(href='/orders') Orders
    if (~path.indexOf('/orders'))
      ul.nav
        li: a(href='/orders/create') Create
        if (param)
          li: a(href='/orders/' + param) Details
          li: a(href='/orders/' + param + '/change') Change
          li: a(href='/orders/' + param + '/remove') Remove
  li
    a(href='/products') Products
    if (~path.indexOf('/products'))
      ul.nav
        li: a(href='/products/create') Create
        if (param)
          li: a(href='/products/' + param) Details
          li: a(href='/products/' + param + '/change') Change
          li: a(href='/products/' + param + '/remove') Remove
  li
    a(href='/customers') Customers
    if (~path.indexOf('/customers'))
      ul.nav
        li: a(href='/customers/create') Create
        if (param)
          li: a(href='/customers/' + param) Details
          li: a(href='/customers/' + param + '/change') Change
          li: a(href='/customers/' + param + '/remove') Remove
  li
    a(href='/settings') Settings
    ul.nav
      li: a(href='/settings/users') Users
      li: a(href='/settings/stats') Stats