.well {
  background: none;
  border: none;
}

.well li > a {
  color: #666;
  border-radius: 4px;
  transition: all 0.4s;
}

.well li > ul {
  margin-top: 2px;
  margin-left: 30px;
}

.well li > a:hover,
.well li > a:focus {
  color: #111;
}

.well li > a.active {
  color: #fff;
  background-color: #9a3f3f;
}

.well li > a.active:hover,
.well li > a.active:focus {
  background-color: #702e2e;
}