div
  div.row
    div.col-xs-5.col-xs-offset-1
      form(role='form')
        div.input-group
          div.input-group-btn
            button.btn.btn-default(type='submit')
              span.glyphicon.glyphicon-search
              |  Search
          input.form-control(id='query', name='query', type='search',
            placeholder='Your search query', required)
    div.col-xs-5
      a.btn.btn-default.pull-right(href='/customers/create')
        span.glyphicon.glyphicon-plus
        |  Create
  div.row
    div.col-xs-12.col-md-10.col-md-offset-1(style='padding-top: 30px;')
      table.table
        thead
          tr
            th Name
            th Email
            th Straße
            th Ort
          tbody