div.container
  div.row
    div.col-xs-6
      form(id='search', role='form')
        div.input-group
          div.input-group-btn
            button.btn.btn-default(type='submit')
              span.glyphicon.glyphicon-search
              |  Search
          input.form-control(id='query', name='query', type='search',
            placeholder='Your search query', required)
    div.col-xs-6
      button.btn.btn-default.pull-right(id='create', type='button')
        span.glyphicon.glyphicon-plus
        |  Create
  div.row
    div#content-inner(style='padding-top: 30px;')