form(role='form')
  p.alert.hidden
  fieldset
    div.col-xs-10.col-xs-offset-1
      div.form-group
        label(for='username') Username
        input.form-control(id='username', name='username', type='text',
          placeholder='Your username', required)
      div.form-group
        label(for='password') Password
        input.form-control(id='password', name='password', type='password',
          placeholder='Your password', required)
    button.btn.btn-default.center-block(type='submit') Authenticate