div: form(role='form')
  p.alert.hidden
  fieldset
    div.form-group
      label(for='username') Username
      input.form-control(id='username', name='username', type='text',
        placeholder='Your username', required)
    div.form-group
      label(for='password') Password
      input.form-control(id='password', name='password', type='password',
        placeholder='Your password', required)
    button.btn.btn-default(type='submit') Authenticate