div.col-xs-4.col-xs-offset-4.overlay(data-id=id)
  form(role='form')
    legend Confirm
    p.help-text
      | Do you really want to delete customer #{name}?
    fieldset
      div.btn-group
        button.btn.btn-danger Delete
        button.btn.btn-default Cancel