form(data-id=customer.id, role='form')
  legend Confirm
  fieldset
    div.alert.alert-danger
      | Do you really want to delete customer #{customer.name}?
    div.btn-group.pull-right
      button.btn.btn-danger Delete
      a.btn.btn-default(href='/customers/' + customer.id) Cancel