.blur {
  opacity: 0.8;
  -webkit-filter: blur(3px);
}

.overlay {
  position: fixed !important;
  top: 50%;
  left: 50%;
  margin-top: -25% !important;
  margin-left: -25% !important;
  padding: 20px 0;
  border: 1px solid #BBB;
  border-radius: 4px;
  background: #FFF;
  opacity: 0;
  transition: opacity 1.4s;
}

.overlay-in {
  opacity: 1;
}