div.icon-list.text-center
  div.col-xs-3
    a.thumbnail(href='/customers')
      span.glyphicon.glyphicon-user
      div.caption
        h3 Customers
  div.col-xs-3
    a.thumbnail(href='/products')
      span.glyphicon.glyphicon-shopping-cart
      div.caption
        h3 Products
  div.col-xs-3
    a.thumbnail(href='/orders')
      span.glyphicon.glyphicon-inbox
      div.caption
        h3 Orders
  div.col-xs-3
    a.thumbnail(href='/settings')
      span.glyphicon.glyphicon-cog
      div.caption
        h3 Settings