section.row
  div.col-xs-6.col-xs-offset-3.col-md-3.col-md-offset-1
    div.thumbnail
      img.img-rounded.img-responsive(alt='Image of ' + product.name,
        src='//placehold.it/600x600')
  div.col-xs-12.col-md-7
    div.row
      p.alert.alert-danger.hidden
    div.row
      div.page-header
        h3#name(contenteditable='true')= product.name
    div.row
      div.col-xs-4.col-xs-offset-8
        div.btn-group.hidden#actions
          button.btn.btn-primary(id='submit', type='button')
            span.glyphicon.glyphicon-ok
            |  Submit
          button.btn.btn-default(id='cancel', type='button')
            span.glyphicon.glyphicon-remove
            |  Cancel
