extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/build/common.css')

block content
  .col-xs-8.col-xs-offset-2
    .page-header
      h1 Sorry but an error occured
    p.text-muted= error.toString()
    a.btn.btn-primary(href='/')
      | Back to Home

