doctype
html
  head
    title= name
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
  body
    main(class=modal ? 'blur' : '')
      include includes/header
      include includes/content
    include includes/modal
    script(src='/javascripts/build-common.js')
    script(src='/javascripts/build-products.js')
    script(src='/javascripts/build-customers.js')
