doctype
html
  head
    title Quetzal
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    block styles
  body
    main#page(class=username ? '' : 'blur')
      include includes/header
      include includes/content
    main#overlay
      include includes/overlay
    block scripts
