doctype
html
  head
    title= name
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/build.css')
  body
    main
      include includes/header
      include includes/content
    script(src='/javascripts/build.js')
    script
      | require('manager');
