.form-control {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 36px;
  font-size: 16px;
  border-radius: 2px;
  border-color: #3c4045;
}

.form-control:hover,
.form-control:focus {
  border: 2px solid #3c4045;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}