body {
  padding-top: 90px;
  color: #3c4045;
  font-weight: 200;
  background-color: #fcfcfc
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.btn-default:hover,
.btn-default:focus {
  color: #3c4045;
  border-color: #3c4045;
  background-color: #fff;
}

.form-control:hover,
.form-control:focus {
  border-color: #3c4045;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}