form(role='form')
  p.alert.alert-danger
    | Do you really want to delete customer #{customer.name}?
  fieldset
    div.btn-group.pull-right
      button.btn.btn-default(type='submit')
        span.glyphicon.glyphicon-ok
        |  Destroy
      a.btn.btn-primary(href='/customers/' + customer.id)
        span.glyphicon.glyphicon-remove
        |  Cancel
