section.row
  div.col-xs-6.col-xs-offset-3.col-md-3.col-md-offset-1
    div.thumbnail
      img.img-rounded.img-responsive(alt='Image of ' + product.name,
        src='//placehold.it/600x600')
  div.col-xs-12.col-md-7
    div.row
      p.alert.alert-danger.hidden
    div.row
      div.page-header
        h3#name(contenteditable='true')= product.name
    div.row
      div.col-xs-4.col-xs-offset-8
        div.btn-group.show#actions
          a.btn.btn-danger(href='/products/' + product.id + '/change') Change
          a.btn.btn-default(href='/products/' + product.id + '/remove') Remove
        div.btn-group.hidden#controls.hidden
          button.btn.btn-danger(type='click') Submit
          a.btn.btn-default(href='/products/' + product.id) Cancel