section.row
  div.col-xs-6.col-xs-offset-3.col-md-3.col-md-offset-1
    div.thumbnail
      img.img-rounded.img-responsive(alt='Image of ' + product.name,
        src='//placehold.it/600x600')
  div.col-xs-12.col-md-7
    div.row
      p.alert.alert-danger.hidden
    div.row
      div.page-header
        h3#name(contenteditable='true')= product.name
    div.row
      div.col-xs-4.col-xs-offset-8
        div.btn-group.show#actions
          button.btn.btn-default(id='update', type='button') Update
          button.btn(id='remove', type='button') Remove
        div.btn-group.hidden#controls.hidden
          button.btn.btn-default(id='submit', type='button') Submit
          button.btn(id='cancel', type='button') Cancel