extends layout

block content-inner
  div.row
    div.col-xs-12.col-md-10.col-md-offset-1
      ul.img-list.list-unstyled
        for product in products
          li.col-xs-4
            a.thumbnail(
              href='/products/' + product.id
            )
              img.img-rounded.img-responsive(
                alt='product.name',
                src='http://placehold.it/250x250'
              )
              div.caption
                h4.text-center= product.name
