extends ../layout

block styles
  link(rel='stylesheet', href='/stylesheets/build/common.css')
  link(rel='stylesheet', href='/stylesheets/build/products.css')

block content
  .container-fluid
    .col-xs-10.col-xs-offset-1
      .row#body
        .col-xs-12
          block content-inner



block scripts
  script(src='/javascripts/build/common.js')
  script(src='/javascripts/build/products.js')
  script
    | require('./app/common');
    | require('./app/products');
