extends ../layout

block styles
  link(rel='stylesheet', href='/stylesheets/build/common.css')
  link(rel='stylesheet', href='/stylesheets/build/products.css')

block content
  #products
    .container-fluid
      .col-xs-10.col-xs-offset-1
        .row#products-header
          .navbar
            a.navbar-brand(href='/products') Products
            form.navbar-form.navbar-right(role='form')
              a.btn.btn-primary(href='/products/create') Create
        .row#products-content
          block content-inner

block scripts
  script(src='/javascripts/build/common.js')
  script(src='/javascripts/build/products.js')
  script
    | require('./app/common');
    | require('./app/products');
