.table,
.table > thead,
.table > tbody {
  border: 1px solid;
  border-radius: 2px;
}

.table > thead > tr > th,
.table > tbody > tr > td {
  border: none;
}

.table > thead > tr > th {
  color: #dfdfdf;
  font-size: 16px;
  font-weight: 200;
  background-color: #3c4045;
}

.table > tbody > tr > td {
  transition: border .6s;
}

.table > tbody > tr:hover > td {
  background-color: #dfdfdf;
}