.navbar {
  background-color: #3c4045;
  border: none;
}

.navbar .navbar-brand,
.navbar .navbar-nav > li > a {
  color: #dfdfdf;
  transition: all .6s;
}

.navbar .navbar-brand:hover {
  color: #fff;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li.open > a {
  color: #3c4045;
  background-color: #ececec;
}

.navbar .navbar-nav .dropdown-menu {
  magin: 0;
  padding: 0;
}

.navbar .navbar-nav .dropdown-menu > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar .navbar-nav .dropdown-menu .divider {
  margin: 0;
}