.navbar {
  border-radius: 1px;
  background-color: #9a3f3f;
}

.navbar-brand {
  color: #fff;
}

.navbar-nav > li > a {
  color: #fff;
}

.navbar-nav.nav > li > a:hover,
.navbar-nav.nav > li > a:focus,
.navbar-nav.nav .open > a {
  background-color: #702e2e;
}