header.navbar(role='navigation')
  div.container-fluid
    div.navbar-header
      a.navbar-brand(href='/') manager
    ul.navbar-nav.navbar-right.nav
      li.dropdown
        a(href='#').dropdown-toggle
          | Actions
          b.caret
        ul.dropdown-menu
          li: a(href='/settings')
            span.glyphicon.glyphicon-wrench
            | Settings
          li.divider
          li: a(href='/sign-out')
            span.glyphicon.glyphicon-off
            | Logout