header.navbar.navbar-default(role='navigation')
  div.container-fluid
    div.navbar-header
      a.navbar-brand(href='/') Manager
    ul.navbar-nav.nav
      li: a(href='/customers') Customers
    ul.navbar-nav.navbar-right.nav.hidden
      li: a(href='/sign-out') Logout
